* {
  box-sizing: border-box; }

body {
  font-family: "Segoe UI", "Open Sans" sans-serif;
  font-size: 1em;
  background-color: #E9E9E9;
  margin: 0; }

.icon {
  font-size: 1.5em; }

#dailyForecast {
  display: flex;
  vertical-align: middle;
  height: 100vh; }
  #dailyForecast .tempBox {
    color: #fff;
    padding: 80px 25px 25px;
    font-weight: bold;
    background: linear-gradient(160deg, #FBCA88, #EF69AD, #B236D0);
    min-height: 100vh;
    position: relative; }
    #dailyForecast .tempBox .swithches {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 10px; }
      #dailyForecast .tempBox .swithches ul {
        padding-left: 0;
        list-style-type: none; }
        #dailyForecast .tempBox .swithches ul li {
          width: 33.3%;
          float: left;
          font-weight: bold;
          font-size: 1.2em;
          padding: 3px 0;
          cursor: pointer; }
          #dailyForecast .tempBox .swithches ul li.active-page {
            border-bottom: 2px solid #fff; }
    #dailyForecast .tempBox .today .currentTemp {
      font-size: 5em; }
    #dailyForecast .tempBox .today .unit {
      font-size: 3em; }
    #dailyForecast .tempBox .today p.m0 {
      margin: 0; }
    #dailyForecast .tempBox .today .convertToggle .icon {
      position: relative;
      top: 4px; }
    #dailyForecast .tempBox .today .weatherCondition {
      font-size: 3em; }
    #dailyForecast .tempBox .today .tempBoxSubInfo {
      font-size: 0.8em;
      padding: 20px 0 0; }
      #dailyForecast .tempBox .today .tempBoxSubInfo p {
        margin: 0; }
    #dailyForecast .tempBox .location {
      display: none; }
      #dailyForecast .tempBox .location .searchBar {
        padding: 20px 0; }
        #dailyForecast .tempBox .location .searchBar #locSearchBox {
          display: inline-block;
          width: 100%;
          font-size: 1em;
          text-align: center;
          border: none;
          border-radius: 3px;
          padding: 10px;
          box-shadow: 0 0 15px 1px #bfa8bc;
          transition: all 0.3s; }
          #dailyForecast .tempBox .location .searchBar #locSearchBox:focus {
            outline: none;
            box-shadow: 5px 5px 30px 5px #bfa8bc; }
    #dailyForecast .tempBox .forecast {
      display: none; }
      #dailyForecast .tempBox .forecast .weeklyForecast {
        padding: 20px 0 30px; }
        #dailyForecast .tempBox .forecast .weeklyForecast h3 {
          margin: 20px 0;
          font-size: 1.2em;
          font-weight: bold; }
        #dailyForecast .tempBox .forecast .weeklyForecast .weekRows {
          margin: 0; }
          #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard {
            box-shadow: 0 0 25px 3px #bfa8bc;
            overflow: hidden;
            border-radius: 5px;
            margin-bottom: 18px; }
            #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard p {
              display: inline-block; }
            #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight {
              background-color: #1343B9;
              color: #fff;
              padding: 30px 10px 10px; }
              #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin {
                position: relative; }
                #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p {
                  position: absolute; }
                  #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:first-child {
                    left: 0; }
                  #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:last-child {
                    right: 0; }
                    #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:last-child i {
                      position: relative;
                      top: 5px; }
            #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight {
              background-color: #fff;
              color: #333;
              padding: 10px; }
              #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDay p {
                font-size: 1.5em;
                font-weight: bold; }
              #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySummary {
                height: 50px;
                margin-bottom: 20px; }
                #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySummary p {
                  margin: 0; }
              #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySun p:last-child {
                margin-right: 0;
                margin-left: 20px; }
              #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDayWindnHumidity p {
                margin-right: 10px;
                font-size: 0.8em; }
                #dailyForecast .tempBox .forecast .weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDayWindnHumidity p:last-child {
                  margin-right: 0; }

#dashboard-container .dashboard {
  margin-top: 20px; }
  #dashboard-container .dashboard .dashboardDaily {
    position: relative; }
    #dashboard-container .dashboard .dashboardDaily .expect {
      height: 300px;
      padding: 20px;
      background: linear-gradient(45deg, #30496B, #30B8D2);
      border-radius: 50%;
      display: flex;
      align-items: center;
      color: #fff;
      position: relative;
      box-shadow: 0 0 25px 3px #bfa8bc; }
      #dashboard-container .dashboard .dashboardDaily .expect #expectIcon {
        position: absolute;
        left: 102px;
        top: 35px; }
      #dashboard-container .dashboard .dashboardDaily .expect p {
        position: relative;
        top: 20px; }
    #dashboard-container .dashboard .dashboardDaily .thin {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase; }
    #dashboard-container .dashboard .dashboardDaily .tempMaxBox, #dashboard-container .dashboard .dashboardDaily .tempMinBox {
      height: 150px;
      border-radius: 50%;
      position: relative;
      color: #fff;
      font-weight: bold;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      z-index: 2;
      box-shadow: 0 0 25px 1px rgba(79, 75, 78, 0.6); }
      #dashboard-container .dashboard .dashboardDaily .tempMaxBox p, #dashboard-container .dashboard .dashboardDaily .tempMinBox p {
        display: inline-block; }
    #dashboard-container .dashboard .dashboardDaily .tempMaxBox {
      background: linear-gradient(45deg, #F32F8E, #B236D0);
      left: 40px; }
      #dashboard-container .dashboard .dashboardDaily .tempMaxBox p {
        margin: 0 auto 40px; }
    #dashboard-container .dashboard .dashboardDaily .tempMinBox {
      background: linear-gradient(45deg, #833DB8, #B998DD);
      top: 150px;
      right: 40px; }
      #dashboard-container .dashboard .dashboardDaily .tempMinBox p {
        margin: 40px auto 0; }
  #dashboard-container .dashboard .sunTimes {
    margin-top: 5%;
    font-weight: bold;
    font-size: 0.8em; }
  #dashboard-container .dashboard .weatherQuote {
    margin-top: 5%;
    font-size: 1em;
    font-weight: bold; }
  #dashboard-container .dashboard .weeklyButton {
    margin-top: 5%; }
    #dashboard-container .dashboard .weeklyButton a {
      padding: 15px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      background-image: linear-gradient(220deg, #ec77ab, #7873f5);
      box-shadow: 0 0 25px 3px #bfa8bc;
      transition: 0.5s; }
      #dashboard-container .dashboard .weeklyButton a:hover {
        box-shadow: 5px 5px 25px 6px #bfa8bc; }
      #dashboard-container .dashboard .weeklyButton a i {
        font-size: 1.2em;
        position: relative;
        top: 3px; }

#footer .love {
  margin: 10px auto;
  text-align: center; }
  #footer .love .heartbeat {
    color: #e80d2e;
    font-size: 16px; }
  #footer .love a {
    text-decoration: none; }

.pac-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px; }

.pac-item, .pac-item-query {
  text-align: center;
  padding: 10px;
  font-family: inherit;
  font-size: inherit; }

@media (min-width: 1920px) {
  #dailyForecast {
    margin-bottom: 300px; } }
@media (max-width: 1199px) {
  #dailyForecast .dashboard .dashboardDaily {
    margin-top: 50px; }
    #dailyForecast .dashboard .dashboardDaily .tempMaxBox > p {
      position: relative;
      top: 15px; }
    #dailyForecast .dashboard .dashboardDaily .tempMinBox p {
      position: relative;
      bottom: 10px; }
  #dailyForecast .dashboard .sunTimes {
    margin-top: 50px; }
    #dailyForecast .dashboard .sunTimes p i {
      display: block; }
  #dailyForecast .dashboard .weeklyButton {
    margin: 40px 0; }

  #weeklyForecast h3 {
    margin: 50px 0; }
  #weeklyForecast .weekRows {
    margin: 0; }
    #weeklyForecast .weekRows .dayCard {
      margin-bottom: 50px; }
      #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p {
        position: relative; }
      #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySummary {
        margin-bottom: 40px; }
      #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySun p {
        margin: 0; } }
@media (max-width: 961px) {
  #weeklyForecast .weekRows {
    margin: 0; }
    #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p {
      position: absolute; }
      #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:first-child {
        left: 5px; }
      #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:last-child {
        right: 5px; } }
@media (max-width: 767px) {
  #weeklyForecast .weekRows {
    margin: 0; }
    #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p {
      position: relative;
      display: block; }
      #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:first-child {
        left: 0; }
      #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin p:last-child {
        right: 0; } }
@media (max-width: 415px) {
  #dailyForecast .tempBox {
    margin-bottom: 50px; }
    #dailyForecast .tempBox .currentTemp {
      font-size: 3em; }
    #dailyForecast .tempBox .unit {
      font-size: 1.5em; }
    #dailyForecast .tempBox .weatherCondition {
      font-size: 2em; }
    #dailyForecast .tempBox .feels {
      font-size: 0.8em; }
    #dailyForecast .tempBox .tempBoxSubInfo {
      font-size: 0.7em; }
  #dailyForecast .dashboard .dashboardDaily {
    margin-top: 20px; }
    #dailyForecast .dashboard .dashboardDaily .expect {
      height: 195px;
      font-size: 0.8em; }
      #dailyForecast .dashboard .dashboardDaily .expect #expectIcon {
        width: 60px;
        height: 60px;
        left: 35%;
        top: 10%; }
    #dailyForecast .dashboard .dashboardDaily .tempMaxBox, #dailyForecast .dashboard .dashboardDaily .tempMinBox {
      height: 95px;
      font-size: 0.8em;
      position: relative; }
    #dailyForecast .dashboard .dashboardDaily .tempMaxBox {
      top: -25px; }
    #dailyForecast .dashboard .dashboardDaily .tempMinBox {
      top: 130px; }
  #dailyForecast .dashboard .sunTimes {
    margin-top: 50px; }
    #dailyForecast .dashboard .sunTimes p {
      font-size: 0.9em; }
  #dailyForecast .dashboard .weeklyButton {
    margin: 40px 0; }

  #weeklyForecast h3 {
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 50px; }
  #weeklyForecast .weekRows .dayCard {
    width: 100%; }
    #weeklyForecast .weekRows .dayCard .dayIconHighlight .dayMaxMin > p {
      position: static; }
    #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDay p {
      font-size: 1.2em; }
    #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySummary {
      height: auto;
      margin-bottom: 10px; }
      #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySummary p {
        margin: 10px 0; }
    #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySun > {
      position: static;
      margin: 20px auto; }
      #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySun > p {
        margin: 0;
        text-align: center; }
        #weeklyForecast .weekRows .dayCard .dayInfoHighlight .weekDaySun > p:last-child {
          margin: 0; }

  #footer p {
    width: 50%; } }
@media (max-width: 321px) {
  #dailyForecast .dashboard .dashboardDaily .expect {
    height: 180px;
    font-size: 0.7em; }
    #dailyForecast .dashboard .dashboardDaily .expect #expectIcon {
      display: none; }
  #dailyForecast .dashboard .dashboardDaily .tempMaxBox, #dailyForecast .dashboard .dashboardDaily .tempMinBox {
    height: 80px;
    font-size: 0.7em;
    position: relative; }

  #weeklyForecast .dayIconHighlight canvas {
    position: relative;
    right: 10px; }

  #footer p {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
